<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Food_Cost.Properties.Settings.FoodCostDB" connectionString="Data Source=.;Initial Catalog=FoodCost;Integrated Security=True;User Id=sa;Password=CounterPoint8" providerName="System.Data.SqlClient"/>
    </connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
